apiVersion: v1
kind: deployment
metadata:
 name: platforms-depl
spec:
 replicas: 1
 selector:
   matchLabels:
     app: platformservice
 template:
   metadata:
     labels:
       app: platformservice
   spec:
     containers:
     - name: platformservice
       image: tadminm/platforms:latest
       ports:
       - containerPort: 8080
       env:
       - name: DATABASE_URL
         valueFrom:
           secretKeyRef:
             name: db-credentials
             key: database_url
       - name: API_KEY